html { font-size: 62.5%; }

body {
   font-size: 1.6rem;
   width: 100%;
   line-height: 2rem;
   margin: 0;
   overflow: hidden;
   background-color: #505962;
}

h1 { 
   font-size: 3.4rem;
   margin: 4rem 0;
   text-align: center;
}

h2 {
   font-size: 2.4rem;
   margin: 1rem 0;
}

h3 { font-size: 2.0rem; }

h4 { font-size: 1.8rem; }

a {
   text-decoration: none;
}

div#page-content {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 65%;
   margin: 0 auto;
   padding: 0 1rem;
   background-color: white;
   overflow: hidden;
}

header {
   width: 100%;
   padding: 1rem 0;
   line-height: 4rem;
   border-bottom: 1px solid #66b3ff;
   background-color: white;
}

header #logo {
   height: 6rem;
}

header #logo img {
   height: 100%;
}

header, nav ul {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.w3-round-xlarge:hover,
.w3-round-xxlarge:hover {
   border: 1px solid #66b3ff;
}

nav {
   width: 90%;
}

main button {
   margin: 0.3rem 0;
}

main {
   display: flex;
   flex-direction: column;
   margin: 0;
   flex: 1;
   width: 100%;
   overflow: auto;
}

.w3-ul {
   margin-bottom: 2rem;
}

main article {
   margin: 0.5rem 0;
   padding: 0.4rem;
}

main section {
   display: flex;
   margin: 0.5rem 1rem;
   padding: 1.4rem;
   flex-grow: 1;
   line-height: 3rem;
}

main section a {
   color: #66b3ff;
   font-weight: 800;
}

main section p {
   justify-content: center;
}

main section.reverse {
   flex-direction: row-reverse;
}

main section.reverse .about-wrapper {
   align-items: flex-end;
}

.about-wrapper {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.about-pic-wrapper {
   width: 40%;
}

.about-pic-wrapper img {
   width: 100%;
}

footer {
   display: flex;
   width: 100%;
   height: 4rem;
   justify-content: center;
   align-items: center;
   border-top: 1px solid #66b3ff;
}

@media ( max-width: 1000px ) {
   
}

@media ( max-width: 800px ) {
   div#page-content {
      width: 98%;
   }
   main section {
      flex-direction: column;
   }
   main section.reverse {
      flex-direction: column;
   }
   .about-wrapper {
      width: 100%;
   }
}